/* General */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 159, 188);
  font-size: 1.3rem;
}

/* Content */
.content {
  background-color: rgb(8, 46, 235);
  width: 775px;
  max-width: 775px;
  padding: 3rem;
  box-shadow: 2px 2px 3px rgb(0, 0, 0);
  border-radius: 25rem;
}

.content__title {
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem;
  text-align: center;
}

/* Search */
.search {
  display: flex;
  margin-bottom: 2.5rem;
}
.search__submit{
  margin: auto;
  width: 51px;
  height: 51px;
  border-radius: 20px;
  background: rgb(242, 240, 240);
}

.search__input {
  flex: 1;
  padding: 1ex;
  font-size: 1rem;
  border-radius: 45px;
}

/* Result */
.result {
  position: relative;
  background-color: purple;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 3px gray;
  color: white;
  padding: 2.5rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "name name"
    "avatar bio";
}

.result__toggle-favorite {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border: none;
  color: white;
  text-decoration: none;
  padding: 0.4rem;
}

.result__name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(255, 252, 252);
  grid-area: name;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 25px;
  text-align: center;
}

.result__avatar {
  grid-area: avatar;
  max-width: 8rem;
  margin-left: 240px;
  margin-top: 10px;
  margin-bottom: 1px;
  border-radius: 3rem;
  text-align: center;
}
.result{
  margin: auto;
  border-radius: 50cm;
  display: block;
  background: gray;
}

.result__bio {
  grid-area: bio;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: auto;
  text-align: center;
}


.result__blog {
  grid-area: blog;
  font-family: serif;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.result__error {
  padding: 0.3rem;
  background-color: rgb(250, 10, 10);
  color: white;
  text-align: center;
  border: 1px solid rgb(9, 9, 9);
  border-radius: 15px;
}

/* Favorites */
.favorites {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.favorite {
  transition: transform 0.3s ease-out;
}

.favorite__avatar {
  height: 5rem;
  margin: 0.3rem;
}

.favorite--selected {
  transform: scale(1.3);
}

/* Transitions */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}
